@using Notifications
<div>
    @if (_name == null)
    {
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="20px" Width="40%" Animation="Animation.Wave" />
    }
    else
    {
        <MudText Typo="Typo.h6">@_name</MudText>
    }
    @* TODO *@
    @* <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Edit" IconSize="Size.Small"></MudFab> *@
</div>

@code {
    private string? _name;

    protected override void OnInitialized()
    {
        NotificationBus.Subscribe<BoardReceivedNotification>(OnBoardReceived);
    }

    private async Task OnBoardReceived(BoardReceivedNotification notification)
    {
        _name = notification.Board.Name;
        await InvokeAsync(StateHasChanged);
    }
}
