@page "/login"

<button class="btn btn-primary" @onclick="LoginAsync">Login with Google</button>

@code
{
    async Task LoginAsync()
    {
        var client = HttpClientFactory.CreateClient(Constants.ApiClient);
        var result = await client.GetAsync("api/Authentication");

        if (result.IsSuccessStatusCode)
        {
            var url = await result.Content.ReadAsStringAsync();
            ArgumentException.ThrowIfNullOrEmpty(url);
            NavManager.NavigateTo(url);
        }
    }
}
