@page "/login"

<button class="btn btn-primary" @onclick="LoginAsync">Login with Google</button>

@code
{
    async Task LoginAsync()
    {
        var url = await ApiClient.GetAuthenticationUrl();

        ArgumentException.ThrowIfNullOrEmpty(url);
        
        NavManager.NavigateTo(url);
    }
}
