@page "/weather"
@using Core.Models

<PageTitle>Boards</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_boards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in _boards)
            {
                <tr>
                    <td>@board.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<GetBoardsDto>? _boards;

    protected override async Task OnInitializedAsync()
    {
        _boards = await ApiClient.GetBoardsAsync();
    }
}
